.gradient {
  background: #114357; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    hsl(208, 61%, 9%),
    hsl(210, 22%, 49%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    hsl(208, 61%, 9%),
    hsl(210, 22%, 49%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.light-text,
.light-text a {
  color: hsl(209, 61%, 95%);
}
.btn-primary {
  background-color: hsl(166, 72%, 28%);
  border: 0;
}
.btn-primary:hover {
  background-color: hsl(164, 71%, 34%);
}

a {
  color: hsl(209, 61%, 25%);
  font-weight: 800;
}

a:hover {
  color: hsl(209, 61%, 35%);
}

.img-round {
  border-radius: 50%;
  width: 100%;
}

.social-buttons {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.social-buttons a {
  color: #ffffff;
  font-size: 150%;
}
.social-buttons a:hover {
  text-shadow: 1px 1px 1px #000000;
  position: relative;
  bottom: 1px;
}

.social-buttons-footer {
  color: hsl(209, 61%, 25%);
  font-size: 1.5rem;
}
